<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- コンソール出力 -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} [%-5p] %c{1}.%M - %m%n"/>
		</layout>
	</appender>
	<!-- ファイル出力 -->
	<appender name="LOGFILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Encoding" value="UTF-8"/>
		<param name="Append" value="true"/>
		<param name="File" value="log/ComicZip.log"/>
		<param name="DatePattern" value="'_'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss} [%-5p] %c{1}.%M - %m%n"/>
		</layout>
	</appender>
	<!-- ログレベル -->
	<root>
		<level value="DEBUG"/>
		<appender-ref ref="CONSOLE"/>
	</root>
</log4j:configuration>
